MODULE-2/project/docker/storage/mysql/mysql.sock
MODULE-2/project/.env
MODULE-3/xdebug3-example-with-docker-and-phpstormm/docker/storage/mysql/mysql.sock
MODULE-3/slim-framework-example/docker/storage/mysql/mysql.sock