<div class="modal fade" id="editTransactionModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit Transaction</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="form-outline form-white mb-4">
					<textarea name="description" required class="form-control form-control-lg" placeholder="Transaction Description"></textarea>
				</div>
				<div class="form-outline form-white mb-4">
					<input name="amount" type="number" required class="form-control form-control-lg" placeholder="Transaction Amount"/>
				</div>
				<div class="form-outline form-white mb-4">
					<select name="category" required class="form-control form-control-lg"></select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					<i class="bi bi-x-circle me-1"></i>
					Close
				</button>
				<button type="button" class="btn btn-success save-transaction-btn">
					<i class="bi bi-check-circle me-1"></i>
					Save
				</button>
			</div>
		</div>
	</div>
</div>
