{% extends 'layout.twig' %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('transactions') }}
{% endblock %}

{% block title %}Transactions
{% endblock %}

{% block content %}
	<div class="transactions container content-body">
		<div class="text-end">
			<button id="add-new-transaction-btn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newTransactionModal">
				<i class="bi bi-plus-circle me-1"></i>
				New Transaction
			</button>
		</div>
		<div class="modal fade" id="newTransactionModal" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog">
				<form action="/transactions" method="post">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">New Transaction</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							{{ csrf.fields | raw }}
							<div class="form-outline form-white mb-4">
								<textarea name="description" required class="form-control form-control-lg" placeholder="Transaction Description"></textarea>
							</div>
							<div class="form-outline form-white mb-4">
								<input name="amount" type="number" required class="form-control form-control-lg" placeholder="Transaction Amount"/>
							</div>
							<div class="form-outline form-white mb-4">
								<select id="new-transaction-dropdown" name="category" required class="form-control form-control-lg"></select>
							</div>
							<div class="form-outline form-white mb-4">
								<input name="date" type="date" required class="form-control form-control-lg" placeholder="Transaction Date"/>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
								<i class="bi bi-x-circle me-1"></i>
								Close
							</button>
							<button type="submit" class="btn btn-success">
								<i class="bi bi-check-circle me-1"></i>
								Create
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		{% include 'transactions/edit_transaction_modal.twig' %}
		<div>
			<table id="transactionsTable">
				<thead>
					<tr>
						<th>Description</th>
						<th>Amount</th>
						<th>Category</th>
						<th>Date</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>
{% endblock %}
